html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button.confirm-pickup[disabled] {
  background-color: rgba(0, 0, 0, 0.2);
}

.ride-reach-destination-progress {
  width: 100%;
}

.destination-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15000;
  border: none;
  margin: 0px auto;
}

::-webkit-progress-bar {
  width: 80vw;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(133, 127, 127, 0.98);
}

::-webkit-progress-value {
  width: 80vw;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(164, 242, 164);
}

.destination-time {
  position: relative;
  color: white;
  top: 30px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  text-align: center;
}

.sub-loader-component {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: darkgray;
  padding: 5px;
  z-index: 100;
  border-radius: 30px;
  width: 80%;
  text-align: center;
}

.overlay-for-loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 18;
}

@media screen and (min-width:1200px) {
  .sub-loader-component{
    width: 40%;
  }

  ::-webkit-progress-bar {
    width: 40vw;
  }
  
  ::-webkit-progress-value {
    width: 40vw;
  }
}


